# Session 3 Lab
This notebook demonstrates grouping and aggregation queries.

In [ ]:
import sqlite3, pandas as pd
conn = sqlite3.connect('session3_lab.db')
print('Connected')

In [ ]:
# Count employees per department
pd.read_sql_query('SELECT dept_id, COUNT(*) as emp_count FROM employees GROUP BY dept_id;', conn)

In [ ]:
# Average salary per department
pd.read_sql_query('SELECT dept_id, AVG(salary) as avg_salary FROM employees GROUP BY dept_id;', conn)

In [ ]:
# Departments with avg salary > 70000
pd.read_sql_query('SELECT dept_id, AVG(salary) as avg_salary FROM employees GROUP BY dept_id HAVING AVG(salary)>70000;', conn)