# Session 2 Lab
This notebook runs sample queries on the session2_lab.db database.

In [ ]:
import sqlite3, pandas as pd
conn = sqlite3.connect('session2_lab.db')
print('Connected')

In [ ]:
pd.read_sql_query('SELECT * FROM employees;', conn)

In [ ]:
# Example: employees with salary > 60000
pd.read_sql_query('SELECT * FROM employees WHERE salary>60000;', conn)