# Session 1 Lab - SQL with SQLite

In [1]:
import sqlite3
conn = sqlite3.connect(':memory:')
cur = conn.cursor()
cur.execute('CREATE TABLE departments (dept_id INT PRIMARY KEY, dept_name TEXT);')
cur.executemany('INSERT INTO departments VALUES (?, ?);', [(1, "Engineering"), (2, "Sales")])
conn.commit()
cur.execute('SELECT * FROM departments;').fetchall()

[(1, 'Engineering'), (2, 'Sales')]